/*.html { overflow-y: scroll; }*/

/* PACKERY ------------*/
.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
}
.barcode-stamp {
  position: absolute;
  bottom: 0;
  left: 20px;
}


/* MAIN LAYOUT ----------*/

.main-feature {
  /*font-size: 150%;*/
  /*min-height: 150px;*/
  /*height: auto;*/
}
.border {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}


/* ARTICLE STUFF ------------*/
.article {
  /*min-height: 100px;*/
  /*min-width: 100px;*/
  position: relative;
  margin: auto;
}
/* HAVE ONLY WIDE ARTICLES 2 COLUMN */
div.article{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
}
#container {
}
.item-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; 
  /*border-left: 1px solid #d3d3d3;*/
  /*border-right: 1px solid #d3d3d3;*/
  border-top: 1px solid #d3d3d3;
}
.item { 
  width: 18.4%; 
  height: auto;
}
.item.w2 { 
  width: 55.2%;
}
.gutter-sizer { width: 2%; }
.grid-sizer { width: 18.4%; }

/* IMAGES ----------*/
.image {
  /*display: block;*/
  width: 80%;
  max-width: 200px;
  overflow: hidden;
}
.avatar {
  width: 100px;
  /*float-wrap:square; */
}
.image.zodiac {
  float: left;
  width: 50%;
  margin-right: 5px;
}
.image.animal {
  float: right;
  width: 40%;
}
.image.main {
  max-width: 200px;
  float: right;
}

img.desaturate { 
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%); 
  filter: gray;
}

.form-control.print-btn {
  /*text-align: center;*/
  /*margin: -20px -50px; */
  /*position:relative;
  top:50%; 
  left:50%;*/
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px #888888
}
.inputs > .form-control {
  border-radius: 5px;
}
/* FACEBOOK */
button.fb {
  width: 50px;
  /*height: 50px;*/
  padding: 0;
  border: 0;
}
img.fb {
  width: 100%;
}

/* FONTS -----------------*/
.date-text {
  font-style: italic;
  font-weight: bold;
  font-family: 'Goudy Bookletter 1911 TT';
  float: right;
}
.edition {
  font-style: italic;
  font-weight: bold;
  font-family: 'Goudy Bookletter 1911 TT';
  float: left;
}
.clear {
  clear: both;
  margin-bottom: 5px;
}

.newspaper-name {
  font-family: 'Canterbury Regular';
  text-align: center;
  font-weight: bold;
  font-size: 5em;
}
.header {
  color: black;
  font-family: 'Canterbury';
  padding: 20px;
}
.header-left {
  padding-left: 0;
}
.barcode {
  font-family: 'barcode font';
  font-size: 3em;
  text-align: center;
}
.oldseal {
  font-family: 'old seals tfb';
  font-size: 5em;
  text-align: center;
  position: absolute;
  color: #936008;
}
.article-text {
  font-family: 'Goudy Bookletter 1911 TT';
  padding-bottom: 10px;
  /*font-size: 1.2em;*/
  /*line-height: 1.6em;*/
 }
 .article-text.feature {
  font-size: large;
 }
.article-author {
  font-family: 'Goudy Bookletter 1911 TT';
  /*font-size: small;*/
  font-style: italic;
  text-align: right;
}
.article-heading {
  font-family: 'Goudy Bookletter 1911 TT';
  font-style: bold;
  text-align: center;
  /*border-top: 1px solid #d3d3d3;*/
}
.article-heading.feature h2 {
  font-family: 'Heavyweight';
  text-transform: uppercase;
  font-size: 4em;
}
.news, .article-heading.horoscope {
  font-family: 'Display Italic';
  font-style: bold;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}
.horoscope-name {
  font-family: 'Subway Novella';
  text-align: center;
  font-size: 120%;
}
.birth-announcement {
  font-family: 'Subway Novella';
  text-align: center;
  font-size: 120%;
}
/* BORDERS & PADDING -----------*/
.padded {
  padding: 20px;
}
.padded-top {
  padding-top: 20px;
}

.border-top {
  border-top: 1px solid #d3d3d3;
}
.padded {
  padding: 20px;
}
.top-margin {
  margin-top: 20px;
}
.margin-left {
  margin-left: 10px;
}
ol.songs {
  margin-left: -2em;
  margin-bottom: 0;
  padding-bottom: 10px;
}
ul.facts {
  list-style-type: none;
  margin-left: -2em;
}
div h3 {
  margin-top: 5px;
}
.border-bottom {
  border-bottom: 1px solid #d3d3d3;
}
#newspaper {
/*  width: 790px;
*/  /*position: absolute;*/
  position: relative;
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*left: 0;*/
  border: 1px solid #d3d3d3;
  padding: 20px;
  box-shadow: 0px 0px 10px #333;
  height: auto;
}
.newspaper-header {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
}
.newspaper-body {
  padding-left: 20px;
}
.wrapper {
  /*width: 100%;*/
  width: 850px;
  /* whatever width you want */
  /*display: inline-block;*/
  display: block;
  position: relative;
}
.wrapper:after {
  padding-top: 1100;
  display: block;
  content: '';
}
/*#header, .print-panel{
  display: none;
}*/
