.header {
  color: black;
  font-family: 'Canterbury';
  padding: 20px;
}

div.article{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
}
.padded {
  padding: 20px;
}
.border-bottom {
  border-bottom: 1px solid #d3d3d3;
}

.article {
  min-height: 100px;
  min-width: 100px;
}

.article-text {
  font-family: 'Goudy Bookletter 1911 TT';
}
.article-heading {
font-family: 'Goudy Bookletter 1911 TT';
font-style: bold;
}

.divtest {
  color: green;
  font-family: 'Canterbury Regular';
/*  font-size: x-large;*/}

.bordertest {
  border: 1px solid #000000;
}

.final_size {
  width: 70%;
  height: 100%;
  padding: 10px;
}


.item { width: 25%; }
.item.w2 { width: 50%; }



<<<<<<< HEAD
 font-family: 'fonts/old_seals_tfb',
 url('fonts/old_seals_tfb.ttf') format('truetype');
 */
=======
>>>>>>> some divs, draggable
