<!-- <header></header> -->

<div class="row padded">
  <div class="col-xs-4 form-column top-margin">

    <div class="formcontrol border-bottom padded">
      <h3 class="article-heading">Choose your date</h3>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="card.date" is-open="opened" min-date="minDate" max-date="maxDate" init-date="card.date" ng-required="true" close-text="Close" ng-change="selectDate(card.date)" datepicker-popup>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>

      <!-- <span class="input-group col-xs-offset-1 col-xs-10">
        <input ng-model="card.date" ng-change="selectDate(card.date)" type="date" min="1946-01-01" class="form-control">       
        </input> 
      </span> -->
    </div>

    <div class="formcontrol border-bottom padded">
      <h3 class="article-heading">Your article (birthday greeting)</h3>
      <div class="input-group col-xs-offset-1 col-xs-11">
        <input ng-model="feature.heading" type="text" class="form-control" placeholder="Your heading">
        <input ng-model="feature.author" type="text" class="form-control" placeholder="author (who is this card from?)">
        <textarea ng-model="feature.article_text" ng-keyup="repack()" rows="5" type="text" class="form-control" placeholder="article text (message)"></textarea>
      </div>
    </div>

  </div>

  <!-- main newspaper -->
  <div class="col-xs-8">
    <div class="newspaper">
      <div class="newspaper-header">
        <h1 class="newspaper-name">The Alacritous Times</h1>
        <h5><span class="edition">Edition #{{card.edition}}</span>
        <span class="date-text">{{card.date | amDateFormat:'dddd, MMMM Do YYYY'}}</span></h5>
        <div class="clear"></div>
      </div>

      <div id="container" class="">

        <div class="item-container border item grid-sizer">
          <div class="article-heading">
          <img ng-src="<%= asset_path('movie.png') %>" class="image" images-loaded="imgLoadedEvents">
            <h3>{{card.movie}} Wins Best Picture {{card.date | amDateFormat:'YYYY'}}</h3>
          </div>
          <div class="article-text"><p>{{card.movie}} <span ng-if="card.producersExist">({{card.producers}}) </span>has won the Best Picture award for {{card.date | amDateFormat:'YYYY'}}, beating out {{card.nominees}}.</p>
          <p>{{card.bestActor}} won Best Actor for {{card.bestActorMovie}} and {{card.bestActress}} took out the Best Actress award for {{card.bestActressMovie}}</p>
          </div>
        </div>

        <div class="item-container border item w2">
          <div class="article-heading">
            <h3>Breaking News!</h3>
          </div>
          <div class="article-text">
            <ul>
              <li ng-repeat='article in card.news'>{{article}}</li>
            </ul>
          </div>
        </div>  

        <div class="item-container border item border-top">
          <img ng-src="<%= asset_path('music.jpeg') %>" class="image margin-left" images-loaded="imgLoadedEvents">
          <div class="article-heading"><h3>US Top 5!</h3></div>
          <div class="article-text">
            <ol class="songs">
              <li ng-repeat='song in card.songlist track by $index'>{{song}}</li>
            </ol>
          </div>
        </div>

        <div id="main-feature-article" class="item-container border item w2 main-feature">
          <div class="article-heading feature"><h2>{{feature.heading}}</h2></div>
          <div class="article-author"><h5>{{feature.author}}</h5></div>
          <div class="article-text article feature">{{feature.article_text}}
            <img ng-src="<%= asset_path('avatar.ico') %>" class="image avatar" images-loaded="imgLoadedEvents">
          </div>
        </div>    

        <div class="item-container item w2">
          <div class="article-heading horoscope">
            <h3>Horoscope for {{card.date | amDateFormat:'dddd, MMMM Do'}}</h3>
          </div>
          <div class="article-text col-xs-6 padded-top">
          <!-- <div class="article"> -->
            <span class="horoscope-name">{{card.zodiacName}}</span>
            <img ng-src="http://newz-images.s3.amazonaws.com/zodiacs/{{card.zodiacName}}.png" class="image zodiac" images-loaded="imgLoadedEvents">
            <p class="article-text">{{card.zodiac}} </p>
          </div>
          <div class="article-text col-xs-6 padded-top">
            <span class="horoscope-name">{{card.animalName}}</span>
            <img src="http://newz-images.s3.amazonaws.com/chinese_horoscope/{{card.animalName}}.jpg" class="image animal" images-loaded="imgLoadedEvents">  
            <p class="article-text">{{card.chinese_horoscope}}</p>   
          </div>
        </div>
        


        <div class="item-container border item">
          <img ng-src="<%= asset_path('money.gif') %>" class="image" images-loaded="imgLoadedEvents">
          <div class="article-heading">
            <h3>Cost of Living</h3>
          </div>
          <div class="article-text">
            <ul class="facts">
              <li>Gold: ${{card.gold}} (oz)</li>
              <li>Dowjones {{card.dowjones}}</li>
              <li>Average Home ${{card.homeprice}}</li>
              <li>Average Car ${{card.newcar}}</li>
              <li>Bread Loaf ${{card.bread}}</li>
              <li>Gas ${{card.gas}} (gallon)</li>
              <li>World Population: {{card.population}}</li>
            </ul>
          </div>
        </div>

        <div class="barcode-stamp">
          <div class="barcode padded">DALEFOO.COM</div>
        </div>

        <div class="bordertest">
          <div class="oldseal">C</div>
        </div>

      </div>
    </div>

  </div>
</div>
