<div id="header" class="container-fluid header border-bottom">
  <!-- <div class="row"> -->
    <div class="header-bar col-xs-12">
      <div class="header-left">
        <div class="row">
          <button class="btn btn-default" id="logo"><img ng-src="<%= asset_path('BNIcon.png') %>"></button>
          <span>
            <button id="dropdownMenu1" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              What should I do here? <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-4" role="menu" aria-labelledby="dropdownMenu1">
              <li class="dropdown-list padded ">
                <p>First - select a date. It must be after 1945, and there is only full data until 2012.</p>
                <p>Then write your feature article - whether it be a birthday or anniversary message or just a bit of fun for no real reason.</p>
                <p>While you are doing that we will scour the internet for relevant facts from your selected date to fill in the rest of your newspaper.</p>
                <p>If you are happy with your newspaper - share it! Enjoy</p>
              </li>
            </ul>
          </span>
          <span>
            <button id="dropdownMenu3" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              I'm having trouble <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-4" role="menu" aria-labelledby="dropdownMenu1">
              <li class="dropdown-list padded">
                <p>If PRINT or FACEBOOK is not working, please ensure you have not disabled popups</p>
                <p></p>
                <p></p>
              </li>
            </ul>
          </span>
          <span>
            <button id="dropdownMenu2" class="btn btn-default dropdown-toggle" data-toggle="dropdown">About us</button>
            <ul class="dropdown-menu col-xs-4" role="menu" aria-labelledby="dropdownMenu2">
              <li class="dropdown-list padded">
                <p>There is no us! There is only me</p>
                <p>Soon you can visit <span class="new-font">dalefoo.com</span></p>
                <p>Birthday Newz will never use any of your personal data for anything. This is just for fun.</p>
                <p>For comments, please email birthday.newz@gmail.com</p>   
              </li>
            </ul>        
          </span>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>