<div id="header" class="container-fluid">
  <div class="row">
    <div class="header-bar col-xs-12">
      <div class="header-left col-xs-10">
        <div class="row">
          <button class="glyphicon glyphicon-home lineup btn btn-default col-xs-1" id="logo"></button>
          <button id="dropdown" class="btn btn-default dropdown-toggle col-xs-1" data-toggle="dropdown">
            What should I do here?
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-list">
              <a>A bunch of stuff</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>