<!DOCTYPE html>
<html ng-app="newz">
<head>
  <title>Newz</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.moment/0.9.0/angular-moment.min.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-view>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '675037362618881',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>

  <%= yield %>

</body>
</html>

<div id="fb-root"></div>

